.shadow-4 {
  box-shadow: var(--depth-4);
}

.shadow-8 {
  box-shadow: var(--depth-8);
}

.shadow-16 {
  box-shadow: var(--depth-16);
}

.shadow-64 {
  box-shadow: var(--depth-64);
}

.shadow-16-green {
  box-shadow: var(--depth-16-green);
}
